<%= link_to 'New Content', new_content_path%>
<h1>Joao Paullo 26/04/2001</h1> 
<h2>CONTENTS</h2>
<BR>

<% @contents.each do |content|%>
Title: <%= content.title %>
Descript: <%= content.description %>
<%= link_to 'Edit', edit_content_path(content)%>
<br>
<% end %>