<!DOCTYPE html>
<html>
  <head>
    <title>MindApp</title>
  </head>

  <body>
    <% if user_signed_in?%>
    <%= link_to 'Lougout', destroy_user_session_path, method: :delete %>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
